<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.user.mapper.UserAddressMapper">

    <resultMap id="BaseResultMap" type="com.mall.user.entity.UserAddress">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
            <result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
            <result property="provinceCode" column="province_code" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="districtCode" column="district_code" jdbcType="VARCHAR"/>
            <result property="district" column="district" jdbcType="VARCHAR"/>
            <result property="detailAddress" column="detail_address" jdbcType="VARCHAR"/>
            <result property="postalCode" column="postal_code" jdbcType="VARCHAR"/>
            <result property="addressTag" column="address_tag" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,receiver_name,receiver_phone,province_code,province,
        city_code,city,district_code,district,detail_address,
        postal_code,address_tag,is_default,deleted,create_time,
        update_time
    </sql>
</mapper>
